/* Reset box-sizing and apply some global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7; /* Light gray background */
    font-family: 'Arial', sans-serif;
    user-select: none;
}
video#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; /* Ensures the video covers the entire container */
    display: inline;
}
video#blackhole{
    display: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.container {
    max-width: 1000px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-size: cover; /* Adjusts the size of the image to cover the entire container */
    background-position: center;
    position: relative; /* Add this line */
}

.info-container {
    width: 100%;
    max-width: 400px;
    border: 2px solid #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-container label, .info-container select, .info-container input {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.info-container select, .info-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-container input[type="submit"]:hover {
    background-color: #555;
}

.test-container {
    width: 100%;
    max-width: 800px;
    border: 5px solid #333;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top p {
    font-size: 20px;
    font-weight: bold;
}

.choice {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    text-align: center;
    height: 100px;
    align-items: center;
    margin-top: 20px;
}

.choice p {
    padding: 10px;
    border: 2px solid #333;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice p:hover {
    background-color: #333;
    color: #fff;
}

.choice img {
    width: 50px;
    height: 50px;
}

#test-main {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
    margin-top: 20px;
}

#prev {
    position: relative;
    left: -30px;
    order: 1;
}

#next {
    position: relative;
    left: 0; /* Set left to 0 to reset the position */
    order: 2;
}

#submit1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    order: 2; /* Move the submit button to the right */
}



#submit1:hover {
    background-color: #555;
}

.results, .progress, .feedback {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.results h2, .feedback p {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.progress {
    height: 30px;
    background-color: #ccc;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #3498db;
    border-radius: 10px;
}

.feedback {
    display: none; /* Hide the feedback initially */
}
.left-side, .right-side {
    max-width: 200px; /* Adjust width as needed */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px; /* Add margin for spacing */
}

.left-side {
    float: left; /* Float left for left side */
}

.right-side {
    float: right; /* Float right for right side */
}

.left-side h2, .right-side h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.left-side p, .right-side p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    position:fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
    


.color1 {
    color: #ffffff;
}
.color2 {
    color: black;
}
.content h1{
    font-size: 50px;
    color: #ffa31a;
    font-weight: 600;
}
.content h2{
    font-size: 200px;
    
    font-weight: 600;
    transition: 0.5s;
}
.content h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    border: 4px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
}
.content a:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
.startbtn {
    color: #f7f7f7;
    border: 4px solid #fff;
    /* border-radius: 5px; */
    box-sizing: border-box; /* Add this line */
}
.namet{
    -webkit-text-stroke: 1px #fff;
}
